<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dx340.fileinterconnectionweb.mapper.UserMapper">

    <insert id="addUser" parameterType="com.dx340.fileinterconnectionweb.bean.User" >
        INSERT INTO user(username, password) VALUES(#{username},#{password})
    </insert>

    <delete id="delUser" parameterType="com.dx340.fileinterconnectionweb.bean.User" >
        DELETE FROM user where id = #{id}
    </delete>

    <select id="getUserByUsername" resultType="com.dx340.fileinterconnectionweb.bean.User">
       SELECT username,password FROM user
       WHERE username = #{arg}
    </select>

    <select id="updateUser" resultType="com.dx340.fileinterconnectionweb.bean.User">
    UPDATE user SET password = #{password} WHERE id = #{id}
    </select>
</mapper>